@import "../../node_modules/materialize-css/sass/components/color-variables";
@import "../../node_modules/materialize-css/sass/components/color-classes";
@import "../../node_modules/materialize-css/sass/components/variables";
@import "../../node_modules/materialize-css/sass/components/normalize";

@import "../../node_modules/materialize-css/sass/materialize.scss";




nav {
    .brand-logo{
        top: 0;
        left: 3rem;
    }
    ul {
        position: absolute;
        right: 3rem;
        display: flex;
        top: 0;
    }
}

.main {
    padding: 0 3rem;
    .configurator {
        padding-top: 1rem;
        .title {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin-bottom: 0;
        }
        .prop {
            &-title {
                span {
                    font-weight: lighter;
                    padding-left: .5rem;
                    font-size: .8em;
                }
            }
            &-images{
                .active img {
                    border: 2px solid $secondary-color;
                }
                img {
                    border-radius: 5%;
                }
            }
        }
    }
}




