head
    link(rel="stylesheet", href="/css/main.css")
body
    .navbar-fixed
        nav
            .nav-wrapper
            a.brand-logo(href='#!')
                img.responsive-img(src="images/logo.png", alt="ACME")
            ul.right.hide-on-med-and-down
                li
                    a(href='#') About
                li
                    a(href='#') Shop
                li
                    a(href="#") Help
                li
                    a.btn Shopping Cart
    .main
        .row.configurator   
            .row.title
                    .pad
                        h3 ACMEpad
                    .reviews
                        h6 5 Reviews
            .col.m8.s12.object
                #threejs-container
                
            .col.m4.s12.prop
                .row.prop-title
                    h6 FRONT 
                        span Silver
                .row.prop-images
                    .col.s3.selection.active
                        img.responsive-img(src="/images/default.jpg", alt="Silver")
                    .col.s3.selection
                        img.responsive-img(src="/images/default.jpg", alt="White")
                    .col.s3.selection
                        img.responsive-img(src="/images/default.jpg", alt="Black")
                .row.prop-title
                    h6 BACK 
                        span Leather
                .row.prop-images
                    .col.s3.selection
                        img.responsive-img(src="/images/default.jpg", alt="Plastic")
                    .col.s3.selection.active
                        img.responsive-img(src="/images/default.jpg", alt="Leather")
                    .col.s3.selection
                        img.responsive-img(src="/images/default.jpg", alt="Metal")
                .row.prop-text
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error fugiat repudiandae totam temporibus nesciunt fugit dicta sit et pariatur incidunt distinctio illum sunt.
                    p Similique ipsa incidunt atque molestiae dignissimos repudiandae, quo sequi facere ut quas. Magnam totam nobis voluptatibus! Quisquam.
                .row.cart.valign-wrapper
                    .col.s6
                        h5.price $1200
                    .col.s6
                        a.btn Add to cart
            