head
    link(rel="stylesheet", href="/css/main.css")
body
    .navbar-fixed
        nav
            .nav-wrapper
            a.brand-logo(href='#!') Logo
            ul.right.hide-on-med-and-down
                li
                    a(href='#') About
                li
                    a(href='#') Shop
                li
                    a(href="#") Help
                li
                    a.btn Shopping Cart